<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-fhir-transcribe-summarize-export.ZPM">
    <Module>
      <Name>iris-fhir-transcribe-summarize-export</Name>
      <Version>1.2.1</Version>
      <Description>Full stack app to input, store and search clinical documents</Description>
      <Keywords>FHIR,Server</Keywords>
      <Packaging>module</Packaging>
    <SourcesRoot>src</SourcesRoot>
    <FileCopy Name="src/python/" Target="${mgrdir}python/"/>   
    <Invokes>
    <Invoke Class="fhir.setup.Setup" Method="SetupFHIRServer" Phase="Activate" When="After" ></Invoke>
    <Invoke Class="fhir.dc.FhirClient" Method="Init"></Invoke>
    </Invokes>
    <Resource Name="fhir.PKG"/>
    <FileCopy Name="data/fhir/" Target="${mgrdir}test-data-fhir/"/>
      <CSPApplication
        Url="/talk2doc/"
        SourcePath="/src/vue/dist/"
        DeployPath="{$cspdir}/src/vue/dist/"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/talk2doc/"
       />
       <CSPApplication 
        Url="/fhir/api"
        Recurse="1"
        MatchRoles=":${dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="fhir.Rest"
        ServeFiles="1"
        CookiePath="/fhir/api"
        UseCookies="2"
       />
    </Module>
  </Document>
</Export>
