<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="fhir-server.ZPM">
    <Module>
      <Name>fhir-server</Name>
      <Version>1.2.1</Version>
      <Description>InterSystems FHIR Server with a demo frontend</Description>
      <Keywords>FHIR,Server</Keywords>
      <Packaging>module</Packaging>
    <SourcesRoot>src</SourcesRoot>
    <FileCopy Name="python/" Target="${mgrdir}python/"/>   
    <Invokes>
    <Invoke Class="fhirtemplate.Setup" Method="SetupFHIRServer" Phase="Activate" When="After" ></Invoke>
    <Invoke Class="fhirtemplate.FhirClient" Method="Init"></Invoke>
    </Invokes>
    <Resource Name="fhirtemplate.PKG"/>
    <FileCopy Name="data/fhir/" Target="${mgrdir}test-data-fhir/"/>
      <CSPApplication
        Url="/ui"
        SourcePath="/ui"
        DeployPath="{$cspdir}/ui"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/ui"
       />
       <CSPApplication 
        Url="/fhir/api"
        Recurse="1"
        MatchRoles=":${dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        DispatchClass="fhirtemplate.FhirRest"
        ServeFiles="1"
        CookiePath="/fhir/api"
        UseCookies="2"
       />
    </Module>
  </Document>
</Export>
